<input
    type="text"
    placeholder="Search a Coin"
    class="form-control bg-dark text-light border-0 my-4 text-center"
    autofocus
    (keyup)="searchCoin()"
    [(ngModel)]="searchText"
/>
<table class="table table-dark">
    <thead>
        <tr>
            <td *ngFor="let title of titles">
                {{ title | translate}}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coin of filteredCoints; let i = index">
            <td> {{ coin.market_cap_rank }} </td>
            <td>
                <img
                    [src]="coin.image"
                    alt="{{ coin.name }}"
                    style="width: 2rem"
                    class="img-fluid me-4"
                />
                <span> {{ coin.name }} </span>
                <span class="ms-3 text-muted text-uppercase"> {{ coin.symbol }} </span>
            </td>
            <td> {{ coin.current_price }} </td>
            <td
                [ngClass]="
                    coin.price_change_percentage_24h > 0
                    ? 'text-success'
                    : 'text-danger'
                ">
                {{ coin.price_change_percentage_24h }}
            </td>
            <td> {{ coin.total_volume }} </td>
            <td> {{ coin.market_cap }} </td>
            <td> {{ coin.circulating_supply }} </td>
            <td *ngIf="coin.max_supply === null; else elseBlock">
                -
            </td>
            <ng-template #elseBlock>
                <td> {{ coin.max_supply }} </td>
            </ng-template>
        </tr>
    </tbody>
</table>